.registerContainer {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.registerCard {
    background-color: #ffc0cb;
    border-radius: 20px;
    padding: 40px;
    width: 700px;
    max-width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    
  }
  .logo{
    height: 110px;
    mix-blend-mode: multiply;
    margin-right: 20px;
  }
  h1 {
    font-size: 90px;
    margin-bottom: 0;
  }
  
  h2 {
    font-size: 40px;
    margin-top: 0;
  }
  
 .signP {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .formRow {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 45%;
    min-width: 200px;
    font-size: 14px;
  }
  
  .signupBtn {
    margin-top: 20px;
    background-color: #007acc;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    width: 350px;
    letter-spacing: 7px;
    margin: 0 auto;
    display: block;
  }
  
  .signupBtn:hover {
    background-color: #005fa3;
  }
  
  .loginLink {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
  }
  
  .loginLink a {
    color: #000;
    text-decoration: underline;
  }
  .topCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }
  .topCardText{
    display: flex;
    flex-direction: column;
    align-items: start;
  }